<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>火车票售票系统-首页</title>
    <link rel="stylesheet" th:href="@{../js/layui/css/layui.css}"/>
</head>
<body>
    <div>
        <span>欢迎来到xxx售票系统</span>
    </div>
    <div>
        <form th:action="">
            <tr>
                <td>
                    <input type="radio">车次查询
                    车次：<input type="text" id="findByTNum">
                </td>
                <td>
                    时间<select>
                    <option></option>
                </select>
                </td>
            </tr>
            <tr>
                <input type="radio"车站查询>
                车站：<input type="text" id="findByStop">
            </tr>
            <input type="submit" value="查询">
            <input type="reset" value="清空">
        </form>
        <tr th:each="ticket : ${tickets}">
            <td th:text="${ticket.tid}"></td>
            <td th:text="${ticket.tname}"></td>
            <td th:text="${ticket.start}"></td>
            <td th:text="${ticket.end}"></td>
            <td th:text="${ticket.startTime}"></td>
            <td th:text="${ticket.endTime}"></td>
            <td th:text="${ticket.num}"></td>
        </tr>
    </div>
</body>
</html>