<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8">
    <title>火车票售票系统-首页</title>
    <link rel="stylesheet" th:href="@{../js/layui/css/layui.css}"/>
</head>
<body>
    <div>
        <span>欢迎来到xxx售票系统</span>
    </div>
    <div>
        <form th:action="findByParam">
            <div>
                <label class="layui-form-label">车次：</label>
                <input class="layui-input" name="name" type="text" style="width: 165px;">
            </div>
            <div>
                <label class="layui-form-label">起始站：</label>
                <input class="layui-input" name="name" type="text" style="width: 165px;">
                <label class="layui-form-label">终点站：</label>
                <input class="layui-input" name="name" type="text" style="width: 165px;">
            </div>
            <div>
                <label class="layui-form-label">日期：</label>
                <select>
                    <option></option>
                </select>
            </div>
            <input type="submit" value="查询">
            <input type="reset" value="清空">
        </form>
        <table id="demo" lay-filter="test"></table>
        <!--<tr th:each="ticket : ${tickets}">
            <td th:text="${ticket.tid}"></td>
            <td th:text="${ticket.tname}"></td>
            <td th:text="${ticket.start}"></td>
            <td th:text="${ticket.end}"></td>
            <td th:text="${ticket.startTime}"></td>
            <td th:text="${ticket.endTime}"></td>
            <td th:text="${ticket.num}"></td>
        </tr>-->
    </div>
    <script  th:inline="none">
        layui.use('table', function(){
            var table = layui.table;

            //第一个实例
            table.render({
                elem: '#demo'
                ,height: 312
                ,url: 'homePage' //数据接口
                ,page: true //开启分页
                //表头
                ,cols: [[
                    {field: 'tid', title: 'ID', width:80, sort: true, fixed: 'left'}
                    ,{field: 'tname', title: '车次', width:80, sort: true}
                    ,{field: 'start', title: '始发站', width:80}
                    ,{field: 'end', title: '始到站', width: 177}
                    ,{field: 'startTime', title: '发时', width: 80, sort: true}
                    ,{field: 'endTime', title: '到时', width: 80, sort: true}
                    ,{field: 'num', title: '余票', width: 80}
                ]]
            });

        });
    </script>
</body>
</html>