<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8">
        <title>欢迎登陆</title>
        <link rel="stylesheet" th:href="@{../js/layui/css/layui.css}"/>
    </head>
    <body>
        <div id="loginForm">
            <form class="layui-form" action="login" method="post">
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号码:</label>
                    <div class="layui-input-block">
                        <input type="text" name="mobile" required  lay-verify="required" placeholder="请输入手机号码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">密&nbsp;&nbsp;&nbsp;&nbsp;码:</label>
                    <div class="layui-input-block">
                        <input type="text" name="userPwd" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">登陆</button>
                        <a th:href="/register">注册</a>
                    </div>
                </div>
            </form>
        </div>
    </body>
    <script type="text/javascript" th:src="@{../js/layui/layui.js}"></script>
    <script type="text/javascript">
        layui.use('form', function() {
            var form = layui.form;
            form.on('submit(formDemo)', function(data){
                layer.msg(JSON.stringify(data.field));
                return false;
            });
        });
    </script>
</html>