<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxy.dao.user.SecurityEntityMapper">
  <resultMap id="BaseResultMap" type="com.zxy.entity.user.SecurityEntity">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="authrization" jdbcType="VARCHAR" property="authrization" />
  </resultMap>
  <sql id="Base_Column_List">
    id, authrization
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from security
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from security
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zxy.entity.user.SecurityEntity">
    insert into security (id, authrization)
    values (#{id,jdbcType=VARCHAR}, #{authrization,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxy.entity.user.SecurityEntity">
    insert into security
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="authrization != null">
        authrization,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="authrization != null">
        #{authrization,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxy.entity.user.SecurityEntity">
    update security
    <set>
      <if test="authrization != null">
        authrization = #{authrization,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxy.entity.user.SecurityEntity">
    update security
    set authrization = #{authrization,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>